body{
  background-color: #282634;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }

/* Header  */
.header{
    height: 90px;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}
.header__logo{
    max-width: 200px;
    width: 100%;
    height: max-content;
    align-self: center;
}
.header__basket{
    position: relative;
    background-image: url(https://i.ibb.co/dM4Bmpw/bask.png);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
    width: 80px;
    margin-left: auto;
}
.header__basket_items-count{
    position: absolute;
    left: 35px;
    top: 25px;
    font-size: 1.3em;
    color: white;
}
.header__total{
    color: #ff3e56;
    width: 150px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.header__total-sum{
    color: white;
}
.header__search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    flex-grow: 2;
}
.header__search-input { 
    align-self: center;
    width: 80%;
    padding:10px;
    font-size:1.3em;
    border-color:#ff3e55;
    background-color:#282634;
    color:#ffffff;
    border-width:3px;
    border-radius:10px;
    border-style:solid;
    box-shadow: 0px 0px 5px 0px rgba(26,4,26,.75);
    text-shadow:0px 0px 0px rgba(42,42,42,.75);
  }
.header__search-input:focus { outline:none; } 


.main{
    margin-top: 40px;
    display: flex;
}

/* Filter  */
.filter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
.filter__item{
    display: flex;
    flex-direction: column;
    height: 300px;
    color: white;
    border: solid 1px #ff3e55;
}
.filter__item:nth-last-child(-n+2){
    height: 160px;
}
.filter__title{
    color: #ff3e55;
    text-align: center;
    margin-top: 10px;
}
.filter__list{
    max-width: 300px;
    overflow-y: scroll;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}



/* Products  */
.products{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    max-width:1050px;
    width: 100%;
}
.products__list{
    border: solid 1px #ff3e55;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products__list::after {
    content: "";
    flex: auto;
  }
.products__sort{
    height: 70px;
    border: solid 1px #ff3e55;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar{
    width: 50px;height: 50px;
    background-image: url(https://cdn2.iconfinder.com/data/icons/flat-icons-web/40/Grid_Small-512.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.items-found{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3em;
    width: fit-content;
}
.products__sort_view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}
.products__item{
    width: 220px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border: 1px #ff3e55 solid;
    margin: 5px;
}
.products__item_img{
width: 100%;
max-height: 220px;
}
.products__item_buttons{
    display: flex;
    justify-content: space-between;
}
.products__item_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7em;
}
.products__item_header{
    text-align: center;
}

/* dual-slider */
.dual-slider{
    position: relative;
    width: 100%;
    /* background-color: #ffffff; */
    
}
.dual-slider__input{
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.stock-slider__track,
.price-slider__track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #ff3e55;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ff3e55;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ff3e55;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #ff3e55;
}
.dual-slider__values{
    background-color: #ff3e56;
    width: 42%;
    position: relative;
    margin: auto;
    padding: 5px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    color: #fff;
}
.dual-slider__values:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #ff3e56;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}
/* Footer  */
.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer__year{
    color: white;
    font-size: 1.5em;
}
.footer__rss{
    height: 100%;
    width: 100px;
    background: url(https://rs.school/images/rs_school_js.svg) no-repeat center;
    filter: invert(100%)
}
.footer__git{
    height: 40px;width: 120px;
    background-image: url(https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
}
.footer__rss, .footer__git {
    cursor: pointer;
    display: block;
}